
" set <leader> to <space>
nnoremap <SPACE> <Nop>
let mapleader = " "

" smart joining of e.g. strings
set ideajoin

" opts
set number
set relativenumber
set smartcase
set ignorecase
set tabstop=4
set softtabstop=4
set expandtab

" plugins
set surround " commands: ys, cs, ds, S

" Mappings
"" align with nvim
inoremap K :action QuickJavaDoc
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap <leader>fw :action FindInPath<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>ca :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>fm :action ReformatCode<CR>
nnoremap <leader>ra :action RenameElement<CR>
nnoremap <leader>lf :action ShowErrorDescription<CR>

